<mat-form-field subscriptSizing="dynamic" class="w-100">
  <textarea
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    placeholder="Twoje pytanie..."
    [(ngModel)]="text"
  ></textarea>
  @if (showStopButton() && !text()) {
    <button matSuffix matIconButton (click)="onStop.emit()">
      <mat-icon>stop_circle</mat-icon>
    </button>
  } @else {
    <button matSuffix matIconButton [disabled]="!text()" (click)="onSend()">
      <mat-icon>send</mat-icon>
    </button>
  }
</mat-form-field>
